<div class="row park">
  <div class="col-xs-3">
    <% if listing.photos.empty? %>
      <%= image_tag 'https://s3-us-west-2.amazonaws.com/skateoregon/static/flag.svg', class: "img-responsive" %>
    <% else %>
      <%= image_tag listing.photos.last.photo.url, class: "img-responsive" %>
    <% end %>
  </div>

  <div class="col-xs-9">
    <%= link_to listing_path(listing), class: "park-title" do %>
      <h3><%= listing.name %></h3>
      <p><%= listing.city %>, <%= listing.state %></p>
      <p><%= listing.description %></p>
    <% end %>
  </div>
</div>
