<div class="row park">
  <div class="col-xs-3">
    <%= image_tag listing.photos.first.photo.url, class: "img-responsive" %>
  </div>
  <div class="col-xs-9">
    <%= link_to listing_path(listing), class: "park-title" do %>
      <h3><%= listing.name %></h3>
      <p><%= listing.city %>, <%= listing.city %></p>
      <p><%= listing.description %></p>
    <% end %>
  </div>
</div>
