<div class="content-container">
  <div class="primary">
    <h1><%= @listing.name %></h1>

    <h2>Photos</h2>
    <div class="row photos">
      <%= render @listing.photos %>
    </div>

    <%= link_to new_listing_photo_path(@listing), id: "add-photo", class: "btn btn-primary btn-block", remote: true do %>
      <span class="glyphicon glyphicon-camera"></span>Add a Photo
    <% end %>

    <h2>Reviews</h2>
    <div class="reviews">
      <%= render @reviews %>
    </div>
      <%= link_to new_listing_review_path(@listing), id: "add-review", class: "btn btn-info btn-block", remote: true do %>
      <span class="glyphicon glyphicon-pencil"></span>Add a Review
    <% end %>
  </div>

  <div class="secondary">
    <h2>Address</h2>
    <ul class="address">
      <li><%= @listing.street %></li>
      <li><%= @listing.city %></li>
      <li><%= @listing.state %></li>
      <li><%= @listing.zip %></li>
    </ul>
  </div>
</div>
