<h1><%= @listing.name %></h1>

<h2>Address</h2>
  <ul>
    <li><%= @listing.street %></li>
    <li><%= @listing.city %></li>
    <li><%= @listing.state %></li>
    <li><%= @listing.zip %></li>
  </ul>
