<div class="photo-form">
  <%= render 'layouts/errors', object: @photo %>
  <h3>Add a photo of <%= @listing.name %>:</h3>
  <%= bootstrap_form_for [@listing, @photo], html: {:multipart => true, class: "form", id: "new-photo"}, remote: true do |f| %>

    <%= f.file_field :photo %>

    <%= f.text_field :description%>

    <%= f.primary "Add Photo" %>
  <% end %>
</div>
