<header>
  <div class="container">
    <%= link_to "Oregon Skateparks", root_path, class: "title" %>

    <div class="accounts">
      <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, class: "login" %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "login"  %>
      <% else %>
          <%= link_to new_user_registration_path, class: "login" do  %>
            <span class="glyphicon glyphicon-globe"></span> Sign Up
          <% end %> | <%= link_to "Login", new_user_session_path, class: "login"  %>
      <% end %>
    </div>
  </div>
</header>
